{% include header.html %}

<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<th class="titulos" scope="col">Clientes</th>
	</tr>
</table>
<table width="900" border="1" align="center" cellpadding="2" cellspacing="3">
	<tr>
		<th scope="col"><a target="_blank" href="http://www.claro.com.pe/"><img src="images/c15claro.jpg" width="102" height="102"></a></th>
		<th scope="col"><a target="_blank" href="http://www.movistar.com.pe/"><img src="images/c13movistar.jpg" width="163" height="126"></a></th>
		<th scope="col"><a target="_blank" href="http://www.optical.com.pe/"><img src="images/c16opicalnetworks.jpg" width="270" height="57"></a></th>
		<th scope="col"><a target="_blank" href="http://www.americatel.com.pe/"><img src="images/c02americatel.jpg" width="165" height="101"></a></th>
	</tr>
	<tr>
		<th><a target="_blank" href="http://www.aranwahotels.com/"><img src="images/c03aranwa.jpg" width="138" height="100"></a></th>
		<th><a target="_blank" href="http://www.bcrp.gob.pe/"><img src="images/c04bancocentral.jpg" width="176" height="101"></a></th>
		<th><a target="_blank" href="http://www.adp.com.pe/"><img src="images/c01adp.jpg" width="200" height="100"></a></th>
		<th><a target="_blank" href="http://www.bpzenergy.com/"><img src="images/c08BPZEnergy.jpg" width="199" height="65"></a></th>
	</tr>
	<tr>
		<th><a target="_blank" href="http://www.fap.mil.pe/"><img src="images/c06fuerzaaerea.png" width="97" height="101"></a></th>
		<th><a target="_blank" href="http://www.globalservices.bt.com/"><img src="images/c05bt.jpg" width="144" height="101"></a></th>
		<th><a target="_blank" href="http://www.diamante.com.pe/"><img src="images/c10pesquera.png" width="190" height="75"></a></th>
		<th><a target="_blank" href="http://www.fiorellarepre.com.pe/es/"><img src="images/c07fiorella.JPG" width="200" height="79"></a></th>
	</tr>
	<tr>
		<th><a target="_blank" href="http://www.winet.com.pe/"><img src="images/c14winet.jpg" width="162" height="101"></a></th>
		<th><a target="_blank" href="http://www.tgp.com.pe/"><img src="images/c12transportadora.jpg" width="180" height="100"></a></th>
		<th><a target="_blank" href="http://medianetworks.net/"><img src="images/c11medianetworks.JPG" width="213" height="91"></a></th>
		<th><a target="_blank" href="http://www.merino.com.pe/"><img src="images/c09merino.jpg" width="200" height="86"></a></th>
	</tr>
</table>
{% include footer.html %}
