{% include header.html %}

<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<th scope="col">&nbsp;</th>
	</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="900" align="left" scope="col"><h2 class="titulos">Soluciones Integrales</h2>
			<p class="textogeneral">CALTEC ha implementado con 100% de éxito sistemas de comunicaciones basados en fibra óptica, microondas, etc.Tenemos múltiples casos de éxito, entre ellos la integración de las plantas de nuestro cliente Pesquera Diamante a lo largo de la costa peruana.</p>
			<p class="textogeneral">Asimismo, radioenlaces de más de 20 Km para la Petrolera BPZ Energy y la instalación de más de 80 Km de redes de fibra óptica para varias empresas mineras.</p>
			<p class="textogeneral">CALTEC también ofrece plataformas de comunicación para sistema de telemetría y control (SCADA). Algunos de los casos de éxito son la interconexión de los tanques de agua de Sedapal y la implementación de los radioenlaces para TGP (Transportadora de Gas del Perú).</p>
		<p class="textogeneral">CALTEC promociona y vende los equipos PACKETLIGHT NETWORKS, de gran performance para sistemas de fibra óptica.</p></td>
	</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<th width="900" scope="col">&nbsp;</th>
	</tr>
</table>
<table width="900" border="0" align="center" cellpadding="10" cellspacing="2">
	<tr>
		<th width="300" scope="col"><img src="images/wirelesscontrollers.jpg" width="275" height="168" onClick="MM_openBrWindow('images/wirelesscontrollers.jpg','','width=783,height=587')"></th>
		<th width="300" scope="col"><img src="images/datacenter.png" width="245" height="180" onClick="MM_openBrWindow('images/datacenter.png','','width=845,height=608')"></th>
		<th width="232" scope="col"><img src="images/allinone.png" width="275" height="163" onClick="MM_openBrWindow('images/allinone.png','','width=995,height=580')"></th>
	</tr>
	<tr>
		<td><h6 class="subtitulo">Wireless Controllers</h6>
		<p>﻿<span class="textogeneral">Sistema centralizado de control y gestión de Access Point (AP). Provisión y configuración remota de hasta 250 APs que se encuentran instalados en distintos lugares a través de un solo dispositivo. Capacidad de diseño en sistema redundante 1+1.</span></p></td>
		<td><h6 class="subtitulo">Data Center Access</h6>
		<p>﻿<span class="textogeneral">Diseño de Data Center de alta capacidad de 40 Gbps con sistema de backbone sin bloqueo, redundante, full conexión, balanceo de carga bajo demanda para cualquier tipo de servicio y/o aplicación.</span></p></td>
		<td valign="top"><h6 class="subtitulo">All in One – Office in box​</h6>
		<p class="textogeneral">﻿Todos los servicios (datos, voz y video) en un solo equipo para la oficina aplicado a las PyMES y SOHOs.</p></td>
	</tr>
	<tr>
		<th><img src="images/fullconectividad.jpg" width="275" height="153" onClick="MM_openBrWindow('images/fullconectividad.jpg','','width=998,height=564')"></th>
		<th><img src="images/aplicaciones.jpg" width="275" height="153" onClick="MM_openBrWindow('images/aplicaciones.jpg','','width=998,height=562')"></th>
		<th><img src="images/acceso.jpg" width="275" height="110" onClick="MM_openBrWindow('images/acceso.jpg','','width=995,height=489')"></th>
	</tr>
	<tr>
		<td valign="top"><h6 class="subtitulo">Full Conectividad Remota – VPN IPSec/SSL</h6>
		<p>﻿<span class="textogeneral">Interconexión de redes LANs a través de acceso de internet de forma segura, soporte para acceso a intranets, base de datos y servidores.</span></p></td>
		<td><h6 class="subtitulo">Aplicaciones End-to-End</h6>
		<p class="textogeneral">﻿Diversos dispositivos de red permite soportar diversas aplicaciones para las PyMES, seguridad perimetral a través de equipos Firewall, gestión y optimización de la red usando lan virtuales (VLAN) y acceso inalámbrico vía WiFi.</p></td>
		<td valign="top"><h6 class="subtitulo">Acceso de Alta Velocidad GPON OLT-ONT</h6>
		<h6 class="textogeneral">﻿Dispositivos para brindar acceso a internet de alta capacidad a través de enlaces de fibra óptica. Contamos con equipos remotos y centrales.</h6></td>
	</tr>
</table>
<script type="text/javascript">
	function MM_openBrWindow(theURL,winName,features) { //v2.0
		window.open(theURL,winName,features);
	}
</script>
{% include footer.html %}
