{% include header.html %}

<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
                 <td align="left"><a href="http://www.cloudharmonics.com/course-details/829/"><img src="images/curso2.png"
                 width="200" height="320" /></a></td>
		<th scope="col"><img src="images/index.jpg" width="650" height="410" /></th>
                <td align="left"><a href="http://www.arista.com/assets/data/pdf/Whitepapers/AristaAdvantage-Spanish.pdf"><img src="images/flota.png" 
width="200" height="401" /></a></td>
	</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<th width="900" align="center" scope="col">&nbsp;</th>
	</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<th width="900" scope="col">&nbsp;</th>
	</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<th scope="col"><a href="comunicaciones-satelitales.php"><img src="images/comunicaciones-satelitales.JPG" width="229" height="220" /></a></th>
		<th scope="col"><a href="ip-networking.php"><img src="images/ip-networking.jpg" width="229" height="221" /></a></th>
	</tr>
	<tr>
		<td align="center"><a href="consultoria.php"><img src="images/consutorias.JPG" width="225" height="216" /></a></td>
		<td align="center"><a href="soluciones-integrales.php"><img src="images/soluciones.JPG" width="230" height="221" /></a></td>
	</tr>
</table>
{% include footer.html %}
