[SIP/620]
type=extension
extension=620
context=from-internal
label=Nicolas
mailbox=620@default
extenvoicemail=*620@from-internal
privacy=clid

[SIP/621]
type=extension
extension=621
context=from-internal
label=Mary
mailbox=621@default
extenvoicemail=*621@from-internal
privacy=monitor

[SIP/622]
type=extension
extension=622
context=from-internal
label=John
mailbox=622@default
extenvoicemail=*622@from-internal
privacy=all

[SIP/623]
type=extension
extension=623
context=from-internal
label=Jim
mailbox=623@default
extenvoicemail=*623@from-internal

[QUEUE/100]
type=queue
label=Sales
extension=100
context=from-internal

[QUEUE/101]
type=queue
label=Support
extension=101
context=from-internal

[DAHDI/1]
type=trunk
label=DAHDI
channel=DAHDI/2
channel=DAHDI/3
channel=DAHDI/4

[CONFERENCE/1000]
type=conference
label=Test Conference
server=1
extension=1000
context=from-internal

